################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppWorldAgent.Infrastructure/obj/Debug/netstandard2.0
